<html>
    <head>
        <title>Just a Weather App</title>
        <link rel="stylesheet" type="text/css" href="app_home.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
    </head>
    
    <body>
        <div id="main" class="jumbotron">
            <div id="container">
                <div id="header">Just a Weather App</div>
                <div id="subheader">Enter location, get results</div>
                <form action="/results" method="GET" id="form">
                    <input required id="search" type="text" name="search" placeholder="Enter location"><br>
                    <input class="btn-grad" type="submit">
                </form>
                <div>
                    Find me at <a target="_blank" href="https://github.com/SBhattacharya45">Github</a> and <a target="_blank" href="https://www.linkedin.com/in/soumyadeep-bhattacharya-65b74b170/">LinkedIn.</a>. Made using OpenWeatherMap. 
                </div>
            </div>
        </div>
    </body>
</html>

