#main {
    background-color: rgba(108, 122, 137, 0.5);
    text-align: center;
    margin: 0 auto;
    width: 500px;
    height: 320px;
    position: relative;
    top: 90px;
    font-family: 'Montserrat', sans-serif;
}


#location {
    width: 100%;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px;
}

#logo{
    width: 40%;
    float: left;
    margin: 0;
    height: 130px;
}

#temp {
    width: 60%;
    margin: 0;
    height: 130px;
    font-size: 100px;
    float: left;
}

#limg {
    position: relative;
    top: 11px;
}

.inf {
    width: 100%;
    height: 30px;
    float: left;
    font-size: 20px;
    text-align: left;
    padding-left: 10px;
}



